.cards {
  & .content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 6.5rem 3.1875rem 6.5rem 3.25rem;

    & h2 {
      width: 20rem;
      text-align: center;
    }

    & .cards-box {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      article {
        padding: 2rem 2rem 1.75rem 2rem;
        border: 1px solid var(--shape-stroke);
        border-radius: 1.5rem;
        background-color: var(--shape-base);
        height: 25rem;

        & > div:nth-of-type(1) {
          & .flat {
            color: var(--blue-light);
            font-weight: 700;
          }

          & .price-box {
            & .price {
              & span {
                font-size: 2.5rem;
                font-weight: 700;
              }
            }

            & .total-price {
              color: var(--text-label);
              font-size: 0.875rem;
            }
          }
        }

        & > div:nth-of-type(2) {
          & ul[role="list"] li {
            font-size: 0.75rem;
            & img {
              width: 0.87881rem;
            }
          }

          & .btn {
            background-color: var(--blue-dark);
            font-size: 0.875rem;
            width: 100%;
          }
        }
      }

      & article:nth-of-type(2) {
        & > div:nth-of-type(1) {
          & .flat {
            color: var(--pink-light);
            font-weight: 700;
          }

          & .popularny {
            text-transform: uppercase;
            font-size: 0.625rem;
            font-weight: 700;
            letter-spacing: 0.03125;
            background-color: var(--shape-stroke);
            padding: 0.5625rem 1.25rem;
            border-radius: 62.4375rem;
          }
        }

        & > div:nth-of-type(2) {
          & .btn {
            background-color: var(--pink-dark);
          }
        }
      }
    }
  }
}




@media (min-width: 64rem) {
  & .cards {
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 59rem;
      height: 59rem;
      background-color: var(--shape-base);
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -5;
      filter: blur(284px);
    }

    & .content-box {
      gap: 8.5rem;
      padding: 6.5rem 3.1875rem 20.5rem 3.25rem;
      
      & h2 {
        width: 20rem;
        text-align: center;
      }

      & .cards-box {
        flex-direction: row;
        position: relative;

        & .bunny {
          position: absolute;
          width: 2.81594rem;
          top: -12%;
          left: 38%;
          transition: transform 0.3s linear;
        }

        & article {
          transition: transform 0.3s linear;

          &:nth-child(1) {
            transform: translate(calc(100% + 1rem), 0px) rotate(0deg);

            &:hover {
              transform: translate(20px, 55px) rotate(-8deg);
              z-index: 2;
            }

            & > img {
              position: absolute;
              transition: transform .3s ease;
            }

            & > img:nth-of-type(1) {
              width: .70313rem;
              top: 0;
              left: 0;
              transform: translate(-25px, 15px) rotate(0);
            }

            & > img:nth-of-type(2) {
              width: 1.45138rem;
              top: 0;
              left: 0;
              transform: translate(-20px, -20px);
            }

            &:hover > img:nth-of-type(1) {
              transform: translate(-25px, 15px)  rotate(-15deg);
            }

            &:hover > img:nth-of-type(2) {
              transform: translate(-20px, -20px) rotate(-15deg);
            }
            
          }

          &:nth-child(2) {
            z-index: 1;
            border: transparent;
            background-color: var(--shape-hover);
            &:hover {
              transform: translateY(-10px);
            }

            &:hover ~ .bunny {
              transform: translateY(-10px);
            }

    
          }

          &:nth-child(3) {
            transform: translate(calc(-100% - 1rem), 0px) rotate(0deg);
            position: relative;

            &:hover {
              transform: translate(-20px, 55px) rotate(8deg);
              z-index: 2;
            }

            & > img {
              position: absolute;
              transition: transform .3s ease;
            }

            & > img:nth-of-type(1) {
              width: .70313rem;
              bottom: 0;
              right: 0;
              transform: translateY(20px) rotate(0);
            }

            & > img:nth-of-type(2) {
              width: 1.45138rem;
              bottom: 0;
              right: 0;
              transform: translate(40px, 15px);
            }

            &:hover > img:nth-of-type(1) {
              transform: translateY(20px) rotate(-15deg);
            }

            &:hover > img:nth-of-type(2) {
              transform: translate(40px, 15px) rotate(15deg);
            }

          }

          & .btn:hover::after {
            width: 100%;
            border-radius: initial;
          }
        }
        
        & .active {
          background-color: var(--shape-hover);
          box-shadow: 0px 0px 66px 0px rgba(53, 139, 185, 0.1);
          border: 1px solid transparent;
        }
      }
    }

    .content-box .cards-box .hovered:nth-child(1) {
      transform: translate(20px, 65px) rotate(-8deg);
    }

    .content-box .cards-box .hovered:nth-child(3) {
      transform: translate(-20px, 65px) rotate(8deg);
    }
  }
}



